extends layout
block content
  header
    .container
      br
      br
      br
      .row
        .col-sm-12
          h1 DOCUMENTATION
          .thumbnail
            h2 Defining a function
            p
              | To define a one variable function, use a string of character followed by "(x)"
          .thumbnail
            h2 Drawing a function
          .thumbnail
            h2 Defining interval
          .thumbnail
            h2 Defining constant
          .thumbnail
            h2 Embedded function
