extends layout

block content
  #myDiv(style='width: 1080px; height: 400px;')
  .input-group
    span.input-group-addon.glyphicon.glyphicon-console(aria-hidden='true')
    textarea.span6(rows='3', placeholder="What's up?", required='')
    button.btn.btn-default.navbar-btn(onclick="send();") Evaluer
