extends layout
block content
  header
    .container
      br
      br
      br
      .row
        .col-sm-12
          .thumbnail
            #myDiv(style='height: 400px;')
            script(src='javascripts/interface.js')
      br
      .row
        .col-sm-6
          .thumbnail
            textarea#input(placeholder='Entrez votre fonction', rows='8', cols='75')
            //button.btn.btn-success(onclick="send();") Evaluate
        .col-sm-6
          .thumbnail
            p
              em(style='color:blue;') output:
            p#output
